.popup {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  transition: visibility 200ms, opacity 200ms linear;
  -webkit-transition: visibility 200ms, opacity 200ms linear;
  -moz-transition: visibility 200ms, opacity 200ms linear;
  
}
