.profile {
  font-family: Inter, Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: 880px;
  width: 100%;
  display: flex;
  column-gap: 30px;
  align-items: center;
}

@media screen and (max-width: 910px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    row-gap: 26px;
  }
}

