.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 38px;
}

@media screen and (max-width: 910px) {
  .header__logo {
    width: 104px;
    height: 24.4px;
    margin-left: 27px;
    margin-bottom: 27px;
  }
}
