.profile__info {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content;
  justify-content: center;
  row-gap: 8px;
  column-gap: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 910px) {
  .profile__info {
    gap: 10px;
    align-self: center;
    margin-top: 0px;
  }
}

@media screen and (max-width: 620px) {
  .profile__info {
    grid-template-columns: 1fr max-content 1fr;
    row-gap: 6px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 350px) {
  .profile__info {
    max-width: calc(100vw - (19px + 19px));
  }
}
