.profile__info-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 450px;
}

@media screen and (max-width: 620px) {
  .profile__info-title {
    align-self: center;
    text-align: center;
    font-size: 27px;
    line-height: 33px;
    grid-column: 2;
    margin: 0;
    max-width: 240px;
  }
}
