.profile__info-description {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 450px;
  grid-column: 1;
}

@media screen and (max-width: 910px) {
  .profile__info-description {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 620px) {
  .profile__info-description {
    grid-column: 2;
    max-width: 240px;
  }
}
